<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available Bookings</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>
<body>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="shops" th:href="@{/shops}">Shops</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle text-muted" data-bs-toggle="dropdown" role="button" aria-expanded="false" sec:authentication="name"></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/viewBookings(userId=${#authentication.getPrincipal().getId()})}">Recent Appointments</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a></li>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </ul>
        </li>
    </ul>

    <div class="container-fluid">



        <div class="row row-cols-auto justify-content-center">
            <div class="col" th:each="list : ${slots}">
                <form method="post" th:action="@{/book}" th:object="${booking}">
                    <button type="submit" class="btn btn-secondary my-2" th:text="${list}"></button>
                    <input type="hidden" th:value="${date}" th:attr="name='dayDate'">
                    <input type="hidden" th:value="${list}" th:attr="name='timeDate'"/>
                    <input type="hidden" th:value="${shopInfo.id}" th:attr="name='shopId'"/>
                    <input type="hidden" th:value="${#authentication.getPrincipal().getId()}" th:attr="name='userId'"/>
                    <input type="hidden" th:value="${#authentication.getPrincipal().getName()}" th:attr="name='username'"/>
                    <input type="hidden" th:value="${serviceId}" th:attr="name='serviceId'"/>
                </form>
            </div>
        </div>
    </div>

</body>
</html>